{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

<div class="row">
<div class="col-sm-10">

<h2>{{ chant.incipit }}</h2>
<p>Feast : {{ chant.feast.title }}</p>
<p>Office_part : {{ chant.office_part }}</p>
<p>Cantus ID : 
   {% if chant.cantus_id %}
     <a href="http://cantusindex.org/id/{{ chant.cantus_id }}">{{ chant.cantus_id }}</a>
   {% else %}
     Unspecified
   {% endif %}
</p>
<p>Status : {{ chant.status }}</p>

{% if selected %}

<h4>Selected proposal :</h4>

{{ selected }}

{% endif %}

<h4>My proposal :</h4>

{% if request.user.is_authenticated %}

<a href="/edit_proposal/{{ chant.code }}/"><button type="button" class="btn btn-outline-primary me-2">Edit my proposal</button></a>

{% else %}

<a href="/login/"><button type="button" class="btn btn-outline-primary me-2">Log in to edit my proposal</button></a>

{% endif %}

<h4>Proposals :</h4>

{% for p in unselected %}

p.submitter

{% endfor %}

</div>
</div>

{% endblock content %}
