{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

<h2>{{ chant.incipit }}</h2>
<p>Feast: <a href="/{{ feastURLprefix }}/{{ chant.feast.code }}/">{{ chant.feast.title }}</a></p>
<p>Office_part: {{ chant.office_part }}</p>
<p>Cantus ID: 
   {% if chant.cantus_id %}
     <a href="http://cantusindex.org/id/{{ chant.cantus_id }}">{{ chant.cantus_id }}</a>
   {% else %}
     Unspecified
   {% endif %}
</p>
<p>Status: {{ chant.status }}</p>

{% if selected.proposal %}

<h4>Selected proposal :</h4>

Submitted by : {{ selected.proposal.submitter }}

<!-- parent has : <div class="row"><div class="col-md-8 offset-md-2"> -->
</div></div>

<div class="row">
  <div class="col-md-6 offset-md-1">
    <img src="{{ selected.link }}" class="img-fluid" alt="image build failed or ongoing">
  </div>
  <div class="col-md-4">
  {% if request.user.is_authenticated and request.user != selected.proposal.submitter %}
    <a href="/edit_proposal/{{ chant.code }}/{{ selected.proposal.submitter }}/"><button type="button" class="btn btn-outline-primary me-2">Clone this proposal into mine</button></a>
  {% elif request.user.is_authenticated and request.user == selected.proposal.submitter %}
    <a href="/edit_proposal/{{ chant.code }}/"><button type="button" class="btn btn-outline-primary me-2">Edit my proposal</button></a>
  {% endif %}
    <a href="{{ selected.gabc }}"><button type="button" class="btn btn-outline-primary me-2">Download GABC</button></a><br><br>

  {% if selected.proposal.source %}
    {% if selected.sourcelink %}
      Source: <a href="{{ selected.sourcelink }}">{{ selected.proposal.source.siglum }}, {{ selected.proposal.sourcepage }}</a><br><br>
    {% else %}
      Source: {{ selected.proposal.source.siglum }}, {{ selected.proposal.sourcepage }}<br>
	{% endif %}
	{% if selected.proposal.nabc_status == "none" %}
	  No NABC<br>
	{% elif selected.proposal.nabc_status == "fake" %}
	  NABC is synthetic/contrafactum<br>
	{% elif selected.proposal.nabc_status == "auth" %}
	  NABC transcribed from the source<br>
	{% endif %}
  {% else %}

    No source<br><br>

  {% endif %}


    <a href="/proposal/{{ chant.code}}/{{ selected.proposal.submitter }}/">See and add comments</a><br><br>

  {% if selected.comments %}

  <h5>Latest comments:</h5>

    {% for comment in selected.comments %}

    <figure>
      <blockquote class="blockquote">
        {{ comment.text }}
      </blockquote>
      <figcaption class="blockquote-footer">
        {{ comment.author }} - <cite>{{ comment.date }}</cite>
      </figcaption>
    </figure>

    {% endfor %}

  {% else %}

  No comments

  {% endif %}

  </div>
</div>

<div class="row"><div class="col-md-8 offset-md-2">

{% endif %}

{% if not (request.user.is_authenticated and selected.proposal and (selected.proposal.submitter == request.user)) %}
<!-- This is so that the entire "my proposal" section be skipped if the selected proposal exists and is the user's proposal. -->

<h4>My proposal :</h4>

{% if request.user.is_authenticated %}

  {% if userproposal.proposal %}

<!-- parent has : <div class="row"><div class="col-md-8 offset-md-2"> -->
</div></div>

<div class="row">
  <div class="col-md-6 offset-md-1">
    <img src="{{ userproposal.link }}" class="img-fluid" alt="image build failed or ongoing">
  </div>
  <div class="col-md-4">
    <a href="/edit_proposal/{{ chant.code }}/"><button type="button" class="btn btn-outline-primary me-2">Edit my proposal</button></a>
    <a href="{{ userproposal.gabc }}"><button type="button" class="btn btn-outline-primary me-2">Download GABC</button></a><br><br>
    {% if request.user.is_staff %}
    <a href="/select/{{ chant.code }}/{{ userproposal.proposal.submitter.username }}/"><button type="button" class="btn btn-outline-primary me-2">Select proposal</button></a><br><br>
    {% endif %}

    {% if userproposal.proposal.source %}
      {% if userproposal.sourcelink %}
        Source: <a href="{{ userproposal.sourcelink }}">{{ userproposal.proposal.source.siglum }}, {{ userproposal.proposal.sourcepage }}</a><br><br>
      {% else %}
        Source: {{ userproposal.proposal.source.siglum }}, {{ userproposal.proposal.sourcepage }}<br>
      {% endif %}
      {% if userproposal.proposal.nabc_status == "none" %}
        No NABC<br>
      {% elif userproposal.proposal.nabc_status == "fake" %}
        NABC is synthetic/contrafactum<br>
      {% elif userproposal.proposal.nabc_status == "auth" %}
        NABC transcribed from the source<br>
      {% endif %}

    {% else %}

    No source<br><br>

    {% endif %}
    <a href="/proposal/{{ chant.code }}/{{ userproposal.proposal.submitter.username }}/">See and add comments</a><br><br>

    {% if userproposal.comments %}

  <h5>Latest comments:</h5>

      {% for comment in userproposal.comments %}

    <figure>
      <blockquote class="blockquote">
        {{ comment.text }}
      </blockquote>
      <figcaption class="blockquote-footer">
        {{ comment.author }} - <cite>{{ comment.date }}</cite>
      </figcaption>
    </figure>

      {% endfor %}

    {% else %}

  No comments

    {% endif %}

  </div>
</div>

<div class="row"><div class="col-md-8 offset-md-2">

  {% else %}

<a href="/edit_proposal/{{ chant.code }}/"><button type="button" class="btn btn-outline-primary me-2">Create my proposal</button></a><br><br>

  {% endif %}

{% else %}

<a href="/login/"><button type="button" class="btn btn-outline-primary me-2">Log in to edit my proposal</button></a><br><br>

{% endif %}
{% endif %}

<br><h4>Proposals :</h4>

{% for data in unselected %}

<h5>Submitted by: {{ data.proposal.submitter }}</h5><br>

<!-- parent has : <div class="row"><div class="col-md-8 offset-md-2"> -->
</div></div>

<div class="row">
  <div class="col-md-6 offset-md-1">
    <img src="{{ data.link }}" class="img-fluid" alt="image build failed or ongoing"><br><br>
  </div>
  <div class="col-md-4">
  {% if request.user.is_authenticated %}
    <a href="/edit_proposal/{{ chant.code }}/{{ data.proposal.submitter.username }}/"><button type="button" class="btn btn-outline-primary me-2">Clone this proposal into mine</button></a>
  {% endif %}
    <a href="{{ data.gabc }}"><button type="button" class="btn btn-outline-primary me-2">Download GABC</button></a><br><br>

  {% if request.user.is_staff %}
    <a href="/select/{{ chant.code }}/{{ data.proposal.submitter.username }}/"><button type="button" class="btn btn-outline-primary me-2">Select proposal</button></a><br><br>
  {% endif %}

  {% if data.proposal.source %}
    {% if data.sourcelink %}
      Source: <a href="{{ data.sourcelink }}">{{ data.proposal.source.siglum }}, {{ data.proposal.sourcepage }}</a><br><br>
    {% else %}
      Source: {{ data.proposal.source.siglum }}, {{ data.proposal.sourcepage }}<br>
    {% endif %}
    {% if data.proposal.nabc_status == "none" %}
      No NABC<br>
    {% elif data.proposal.nabc_status == "fake" %}
      NABC is synthetic/contrafactum<br>
    {% elif data.proposal.nabc_status == "auth" %}
      NABC transcribed from the source<br>
    {% endif %}
  {% else %}

    No source<br><br>

  {% endif %}

    <a href="/proposal/{{ chant.code}}/{{ data.proposal.submitter.username }}/">See and add comments</a><br><br>

  {% if data.comments %}

  <h5>Latest comments:</h5>

    {% for comment in data.comments %}

    <figure>
      <blockquote class="blockquote">
        {{ comment.text }}
      </blockquote>
      <figcaption class="blockquote-footer">
        {{ comment.author }} - <cite>{{ comment.date }}</cite>
      </figcaption>
    </figure>

    {% endfor %}

  {% else %}

  No comments

  {% endif %}

  </div>
</div>

<div class="row"><div class="col-md-8 offset-md-2">
{% endfor %}

{% endblock content %}
