{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

<div class="row">
<div class="container-fluid">
Alphabetical indices : <a href=/{{ indexURLprefix }}/>All chants</a> | 
<a href=/{{ indexURLprefix }}/in/>Invitatories</a> | 
<a href=/{{ indexURLprefix }}/an/>Antiphons</a> | 
<a href=/{{ indexURLprefix }}/re/>Responsories</a> |  
<a href=/{{ indexURLprefix }}/hy/>Hymns</a> | 
<a href=/{{ indexURLprefix }}/ps/>Psalm tones</a> | 
<a href=/{{ indexURLprefix }}/or/>Common tones</a><br>
</div></div>
<div class="row">
<div class="col-sm-6">

  <h2>Proprium de Tempore</h2>

{% for feast, status in temporeFeasts %}

    <a href=/{{ feastURLprefix }}/{{ feast.code }}/>{% if status == "SELECTED" %}☑️{% elif status == "DEFINITIVE" %}✅{% elif status == "REVIEWED" %}❗{% else %}✖️{% endif %} 
                                                     {% if feast.day %}{{ feast.day }} : {% endif %}{{ feast.title }}</a><br>

{% endfor %}

</div>

<div class="col-sm-6">

  <h2>Ordinarium</h2>

{% for feast, status in ordinaryFeasts %}

    <a href=/{{ feastURLprefix }}/{{ feast.code }}/>{% if status == "SELECTED" %}☑️{% elif status == "DEFINITIVE" %}✅{% elif status == "REVIEWED" %}❗{% else %}✖️{% endif %} 
                                                     {% if feast.day %}{{ feast.day }} : {% endif %}{{ feast.title }}</a><br>

{% endfor %}

  <h2>Communia</h2>

{% for feast, status in communiaFeasts %}

    <a href=/{{ feastURLprefix }}/{{ feast.code }}/>{% if status == "SELECTED" %}☑️{% elif status == "DEFINITIVE" %}✅{% elif status == "REVIEWED" %}❗{% else %}✖️{% endif %} 
                                                     {% if feast.day %}{{ feast.day }} : {% endif %}{{ feast.title }}</a><br>

{% endfor %}

  <h2>Proprium Sanctorum</h2>

{% for feast, status in sanctisFeasts %}

    <a href=/{{ feastURLprefix }}/{{ feast.code }}/>{% if status == "SELECTED" %}☑️{% elif status == "DEFINITIVE" %}✅{% elif status == "REVIEWED" %}❗{% else %}✖️{% endif %} 
                                                     {% if feast.day %}{{ feast.day }} : {% endif %}{{ feast.title }}</a><br>

{% endfor %}

  <h2>Appendix</h2>

{% for feast, status in appendixFeasts %}

    <a href=/{{ feastURLprefix }}/{{ feast.code }}/>{% if status == "SELECTED" %}☑️{% elif status == "DEFINITIVE" %}✅{% elif status == "REVIEWED" %}❗{% else %}✖️{% endif %} 
                                                     {% if feast.day %}{{ feast.day }} : {% endif %}{{ feast.title }}</a><br>

{% endfor %}

</div>
</div>

<hr/>

<div class="row">
<div class="container-fluid text-center">

<a href=/{{ contentsURLprefix }}/an/>Antiphonale progress</a> --- <a href=/{{ contentsURLprefix }}/re/>Responsoriale progress</a> --- <a href=/{{ contentsURLprefix }}/>Overall progress</a>

</div>
</div>
{% endblock content %}
