{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

<div class="row">

  <h2>GABC rhythmic signs removal</h2>

<form method="post">
  {% csrf_token %}
      <div class="row">
        <div class="col-6">
          {{ form.gabc|as_crispy_field }}
          <button type="submit" class="btn btn-success">Remove rhythmic signs</button>
        </div>
</form>
        <div class="col-6">
          <div class="row"><div class="col-8"><h4>Result</h4></div><div class="col-4 text-end"><button type="button" class="btn btn-sm btn-primary mt-2" onclick="copyResult()">Copy</button></div></div>

            <pre id="gabc-result" class="p-2 border rounded bg-light" style="white-space: pre-wrap; word-wrap: break-word;">{{ answer }}</pre>

        </div>
      </div>
</div>

<script>
function copyResult() {
  const text = document.getElementById("gabc-result").innerText;
  navigator.clipboard.writeText(text).then(() => {
  });
}
</script>

{% endblock content %}
