{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}

<div class="row">

  <h2>GABC rhythmic signs removal</h2>

<form method="post">
  {% csrf_token %}
      <div class="row">
        <div class="col-6">
          {{ form.gabc|as_crispy_field }}
          <button type="submit" class="btn btn-success">Remove rhythmic signs</button>
        </div>
</form>
        <div class="col-6">
          <h4>Result</h4>

          {{ answer }}
        </div>
      </div>
</div>
{% endblock content %}
