venv/*
search/*
manage.py
media/*
*__pycache__*
*__init__*
*/migrations/*
*wsgi.py
nocturnale/settings/mysql.conf
nocturnale/settings/dev.py
nocturnale/settings/production.py
nocturnale/static/pngs/*
nocturnale/static/gabc/*
nocturnale/static/psalmi/*
nocturnale/static/*.tex
nocturnale/static/.git
nocturnale/static/.gitignore
nocturnale/static/*.pdf
nocturnale/static/README.md
nocturnale/static/LICENSE
nocturnale/static/*.txt
*.gtex
*.aux
*.gaux
*.log
*.glog
*.idx
log
